.App {
    display: flex;
    justify-content: center;

}

.wrapper-counter {
    border: 1px solid #000;
    border-radius: 5px;
    margin-right: 50px;
}
.counter {
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: #efda81;
}

.counter-btn {
    margin: 20px ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.btn {
    margin-right: 5px;
    height: 30px;
    min-width: 50px;
    border-radius: 5px;
    background-color: darkseagreen;
    cursor: pointer;
    border: none;
}

.btn:hover {
    opacity: 0.9;
    background-color: #1c8c2f;
}

.btn:active {
    color: red;
}

.max-number {
    color: red;
}